body{
	font-family:Helvetica;
	background-color:#5B7D9C;
	font-size:1.2em;
}

textarea{
	
	font-family:Helvetica;
	margin-bottom:1%;
	margin-top:1%;
}

.container{
	display:flex;
}

.todo-content{
	flex-basis:40%;
	padding:2%;
}


.todo-list{
	flex-basis:60%;
	padding:2%;
	border-left: 2px solid #1B3864;
}


#priority,#title{
	border-radius:15px;
    padding: 1%;
	width:90%;
	height:10%;
	font-size:1em;
	border:none;
	margin-bottom:4%;
	margin-top:4%;
}

#task{
    padding: 1%;
	width:90%;
	height:10%;
	font-size:1em;
	border:none;
	border-radius:15px;
	margin-bottom:4%;
	margin-top:4%;
}

#task:focus,#priority:focus,#title:focus{
	background-color:lightgray;
	border:none;
	outline:unset;
}

#add-todo{
	border-radius:15px;
    padding: 1%;
	width:30%;
	background-color:#1B3864;
	color:white;
	border:none;
	font-size:1em;
	margin-top:8%;
	outline:none;
}

h1, label{
	color:#1B3864;
	margin-bottom:1%;
	margin-top:1%;
}

h1{
	margin-top:0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5B7D9C;
}

li {
  float: left;
}

li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border:none;
  margin:0;
  background-color:#1B3864
}

li button:hover , #add-todo:active{
  background-color: #ccc;
}



#myList{
  background: #7C99BD;
  margin:4%;
  color: white;
}

#myList li:hover{
  background: #D5DAD1;
}

#myList li{
  cursor: pointer;
  position: relative;
  padding:3%;
  background: #7C99BD;
  font-size: 1.2em;
  transition: 0.2s;
  width:100%;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
