body{
	font-family:Helvetica;
	background-color:#5B7D9C;
	font-size:2em;
}

textarea{
	
	font-family:Helvetica;
}

.container{
	display:flex;
}

.todo-content,.todo-content{
	flex-basis:50%;
	padding:2%;
}


#priority,#title{
	border-radius:15px;
    padding: 1%;
	width:90%;
	height:10%;
	font-size:1em;
	border:none;
}

#task{
    padding: 1%;
	width:90%;
	height:10%;
	font-size:1em;
	border:none;
	border-radius:15px;
}

#task:focus,#priority:focus,#title:focus{
	background-color:lightgray;
	border:none;
	outline:unset;
}

.add-todo{
	border-radius:15px;
    padding: 1%;
	width:30%;
	background-color:#1B3864;
	color:white;
	border:none;
	font-size:1em;
	margin-top:8%;
}

h1, label{
	color:#1B3864;
}